.container{
    font-family: 'Gluten', cursive;

    height: 90vh;
    display: flex;
    align-items: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.color-square{
    height: 7rem;
    width: 7rem;
}